command=~/dotfiles/i3blocks-scripts/$BLOCK_NAME

#align=center
#color=#666666
separator=false
separator_block_width=7
full_text=|

[music-label]
interval=once
label=🎝
command=echo " "

[music-prev]
interval=once
label=
command=echo " ";[[ "${BLOCK_BUTTON}" == 1 ]] && playerctl previous; :

[music]
interval=60
signal=5

[music-next]
interval=once
label=
command=echo " ";[[ "${BLOCK_BUTTON}" == 1 ]] && playerctl next; :

[separator]

[cpu-temp]
interval=15
min_width=tempt

[separator]

[battery]
instance=BAT0
signal=2
interval=15
min_width=batbatbatbatbatbat

[battery]
instance=BAT1
signal=2
interval=15
min_width=batbatbatbatbatbat

[separator]

[df]
label= 
instance=/
interval=60
min_width=drivedrive

[separator]

[wifi]
label= 
instance=wlp3s0
interval=60
signal=4
#min_width=Ababababababababababababasadfasd

[eth-secondary]
label= 
instance=enp0s25
interval=15
signal=4

[volume]
interval=60
signal=1
min_width=AAAAAAa

[separator]

[date]
label= 
interval=60
min_width=cal 2017-01-01

[time]
label= 
interval=15
min_width=tim 00:16
